.item {
    background-color: var(--bg-item-color);

    display: flex;
    width: 0;
    height: 40px;

    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--text-white);
    transition-property: width;
    transition-duration: 100ms;

    white-space: nowrap;
}

.item:hover {
    width: 100%;
}