.container {
    display: flex;
    height: var(--input-height);
    align-items: center;
}

.label {
    display: flex;
    align-items: center;

    background-color: var(--bg-light-gray);
    min-height: var(--input-height);
    max-height: var(--input-height);

    padding-left: 10px;
    padding-right: 10px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border-top: var(--input-text-border);
    border-left: var(--input-text-border);
    border-bottom: var(--input-text-border);

    font-size: 0.8rem;
}

.input {
    padding: 0 0 0 5px;

    border: none;
    outline: 1px solid #c7c7ff59;

    min-height: var(--input-height);
    max-height: var(--input-height);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input:focus {
    outline: var(--input-text-border);
}