---
import PortugueseBrazilianLocalization from "../../localization/pt-br/PortugueseBrazilianLocalization";
import Layout from "../../shared/layout/view/Layout.astro";
---

<Layout localization={new PortugueseBrazilianLocalization()} pathToShow="index.html" title="Início">
    <h1>Content</h1>
</Layout>