@media (max-width: 784px) {
    .menu-hidden#__next {
        grid-template-columns: var(--aside-width-md);
    }

    .menu-hidden#__next > .menu * {
        visibility: hidden;
    }

    .menu-hidden#__next > .menu .hide-btn {
        visibility: visible;
    }

    .menu-hidden#__next > .menu .hide-btn * {
        visibility: visible;
    }
}