.tr {
    background-color: #6c54a5;

    transform: scale(1);
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.tr td {
    padding: 10px;
    min-height: 45px;
    max-height: 80px;
}

.tr:hover {
    transform: scale(1.03);
}