.tr {
    background-color: #6c54a5;

    transform: scale(1);
    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.tr td>span {
    min-height: 60px;
    max-height: 115px;
    padding: 0 10px;

    display: flex;
    overflow: hidden;

    align-items: center;
    justify-content: center;
}

.tr:hover {
    transform: scale(1.03);
    overflow: visible;

    cursor: pointer;
}

.name {
    text-align: center;
}

.desc>div {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin: 5px 0;
}

@media (max-width: 812px) {
    .desc {
        display: none;
    }
}