.icon {
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;

    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: 150ms;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.4);

    overflow: visible;
}