.card {
    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: 200px 1fr;

    background-color: var(--bg-card-color);
    min-width: 90%;
    max-width: 90%;
    height: 200px;
    max-height: 200px;
    overflow: hidden;

    border-radius: 15px;

    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;

    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
}

.card * {
    max-height: 200px;
}

.img {
    display: flex;
    grid-area: img;

    align-items: center;
    justify-content: center;
}

.text {
    display: grid;
    grid-template-areas:
        "header"
        "desc"
        "techs";
    grid-template-rows:
        35px
        125px
        40px;
}

.text h3 {
    display: flex;
    align-items: center;

    margin: 0;
    margin-top: 3px;

    grid-area: header;

    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;

    margin: 0;
    margin-right: 7px;
    text-align: justify;

    overflow: hidden;

    line-clamp: 2;
    box-orient: vertical;

    text-overflow: ellipsis;
}

.techs span {
    display: flex;

    overflow: hidden;
    margin-right: 6px;
    hanging-punctuation: allow-end;

    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}