.table {
    display: table;
    border-radius: 15px;
    box-shadow: var(--projects-table-shadow);
    border-collapse: collapse;
    overflow: hidden;

    table-layout: fixed;

    width: 100%;
    background: var(--bg-table-color);

    color: var(--text-white);

    margin-bottom: 40px;
}

.table th {
    padding: 10px;
}

.tech {
    display: flex;
    flex-flow: wrap;

    padding-right: 15px;
}

.tech * {
    margin: 0 2px;
}

@media (max-width: 812px) {
    .desc {
        display: none;
    }
}