.content-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
}

.content {
    width: calc(100% - 10vw);
    max-width: 1380px;
    height: 100%;
}

.h1 {
    margin-bottom: 0;
}

.h5 {
    font-size: 1em !important;
    font-style: italic;
    text-align: justify;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.techs {
    display: flex;
    flex-wrap: wrap;

    margin-top: 5px;
    min-height: 30px;
}

.techs div {
    margin: 5px;
}

.hr {
    box-sizing: border-box;
    color: #cababa;
    width: 100%;

    margin: 15px 0;
}

.article {
    text-align: justify;
}