.table {
    border-radius: 15px;
    box-shadow: var(--projects-table-shadow);
    border-collapse: collapse;

    width: 100%;
    background: var(--bg-table-color);

    color: var(--text-white);
}

.table th {
    padding: 10px;
}

.tech {
    display: flex;
}

.tech * {
    margin: 0px 2px;
}

@media (max-width: 812px) {
    .desc {
        display: none;
    }

    .table tr {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}