---
import GridDistribution from "../components/grid_distribution/GridDistribution.svelte";
import HtmlStructure from "../components/html_structure/HtmlStructure.astro";

export interface Props {
	readonly title: string;
    readonly pathToShow: string;
}

const { title, pathToShow } = Astro.props;
---

<HtmlStructure title={title}>
    <GridDistribution client:visible pathToShow={pathToShow}>
        <h1>Content</h1>
    </GridDistribution>
</HtmlStructure>