.menu {
    display: flex;

    color: var(--text-white);
    background-color: var(--bg-dark);

    border-right: var(--aside-border);
    box-shadow: var(--aside-shadow);

    padding: 25px 10px 10px 10px;
    z-index: 99;
}